main{
    margin: 0 auto;
}

h1, .about p, h2{
    margin: 0 30px 0 30px;
}

h1{
    margin-top: 30px;

}
h2{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
}

img{
    border-radius: 0;
}



.food-description p{
    padding-bottom: 10px;
}

.card{
    padding-bottom: 60px;
}

#food a{
    border: 1px solid white;
    border-radius: 6px;
    font-weight: 600;
    padding: 5px;
}



/***********!!! Large devices (laptops/desktops, 992px and up) !!!************/
@media screen and (min-width: 992px) {
    .card img{
        max-width: 850px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .food-description p, .food-description h2, .cite{
        max-width: 900px;
        overflow-wrap:break-word;
        margin: 0 auto;
        line-height: 1.7;
    }
    .cite{
        text-align: center;
        padding-top: 20px;
    }
    .intro-desription{
        padding-bottom: 100px;
    }

}